{# templates/admin/create_user.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create User
    {% include 'navbar.html.twig' %}{% endblock %}

{% block body %}
    <h1>Create User</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.givenName) }}

    <button type="submit">Create</button>
    {{ form_end(form) }}

    {# Button to go to all meldingen #}
{% endblock %}
