{% extends 'base.html.twig' %}

{% block title %}Alle Meldingen{% endblock %}

{% block body %}
    <h1>Alle Meldingen</h1>

    {# Filterformulier #}
    <form action="{{ path('meldingen_overzicht') }}" method="get">
        <label for="type_melding">Type Melding:</label>
        <select name="type_melding" id="type_melding">
            <option value="">Alle</option>
            <option value="afval">Afval</option>
            <option value="verlichting">Verlichting</option>
            <!-- Voeg hier andere type meldingen toe -->
        </select>
        <button type="submit">Filter</button>
    </form>

    {# Knop voor meldingen toevoegen #}
    <a href="{{ path('melding_toevoegen') }}" class="btn btn-primary mb-3">Melding Toevoegen</a>

    {# Knop voor "Mijn Meldingen" #}
    <a href="{{ path('mijn_meldingen') }}" class="btn btn-primary mb-3">Mijn Meldingen</a>

    {# Meldingstabel #}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Melding ID</th>
            <th scope="col">Gebruiker ID</th>
            <th scope="col">Type Melding</th>
            <th scope="col">Inhoud</th>
            <th scope="col">Datum/Tijd</th>
        </tr>
        </thead>
        <tbody>
        {% for melding in meldingen %}
            <tr>
                <td>{{ melding.meldingid }}</td>
                <td>{{ melding.userId }}</td>
                <td>{{ melding.type_melding }}</td>
                <td>{{ melding.inhoud }}</td>
                <td>{{ melding.datumTijd|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
