{% extends 'base.html.twig' %}

{% block title %}
    Melding Details
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Melding Details</h1>

    <p><strong>ID:</strong> {{ melding.melding_id }}</p>
    <p><strong>Type Melding:</strong> {{ melding.categorie.naam }}</p>
    <p><strong>Inhoud:</strong> {{ melding.inhoud }}</p>
    <p><strong>Datum/Tijd:</strong> {{ melding.datum_tijd|date('d-m-Y H:i') }}</p>

    {% if melding.afbeelding_url %}
        <h2>Afbeelding</h2>
        <img src="{{ asset('uploads/afbeeldingen/' ~ melding.afbeelding_url) }}" alt="Afbeelding bij melding">
    {% endif %}

    {% if melding.user %}
        <h2>Contactgegevens</h2>
        <p><strong>Naam:</strong> {{ melding.user.username }}</p>
        {% if melding.user.email %}
            <p><strong>E-mail:</strong> {{ melding.user.email }}</p>
        {% endif %}
        <p><strong>Gegeven naam:</strong> {{ melding.user.givenName }}</p>
    {% endif %}

    {% if not melding.afgehandeld %}
        <form action="{{ path('melding_afhandelen', {'id': melding.melding_id}) }}" method="post">
            <button type="submit" class="btn btn-primary">Afhandelen</button>
        </form>
    {% else %}
        <p><em>Deze melding is al afgehandeld.</em></p>
    {% endif %}
{% endblock %}
