{% extends 'base.html.twig' %}

{% block title %}Melding Toevoegen
    {% include 'navbar.html.twig' %}{% endblock %}

{% block body %}
    <h1>Melding Toevoegen</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.afbeelding) }}
        {{ form_widget(form.afbeelding) }}
    </div>
    <div class="form-group">
        {{ form_label(form.categorie) }}
        {{ form_widget(form.categorie) }}
    </div>
    <div class="form-group">
        {{ form_label(form.inhoud) }}
        {{ form_widget(form.inhoud) }}
    </div>
    <div class="form-group">
        {{ form_label(form.latitude, 'Latitude') }}
        {{ form_widget(form.latitude) }}
        {% if form_errors(form.latitude) %}
            <div class="invalid-feedback">{{ form_errors(form.latitude) }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.longitude, 'Longitude') }}
        {{ form_widget(form.longitude) }}
        {% if form_errors(form.longitude) %}
            <div class="invalid-feedback">{{ form_errors(form.longitude) }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Versturen</button>
    {{ form_end(form) }}
{% endblock %}
