{# templates/melding/toevoegen.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Melding Toevoegen{% endblock %}

{% block body %}
    <h1>Melding Toevoegen</h1>
    {% if last_melding_id is defined %}
        <div class="alert alert-success">Je melding (ID: {{ last_melding_id }}) is toegevoegd!</div>
    {% endif %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.type_melding) }}
        {{ form_widget(form.type_melding) }}
    </div>
    <div class="form-group">
        {{ form_label(form.inhoud) }}
        {{ form_widget(form.inhoud) }}
    </div>
    <button type="submit" class="btn btn-primary">Versturen</button>
    {{ form_end(form) }}
{% endblock %}
